<!-- the tree editor allows editing of user stories by embedding the
control within tree that contains it.  When the user wants to edit
a story, this control 'wraps' the node of the story to edit and
injects it into the tree while its being edited-->
<div class="tree-editor" id="tree-editor">
  <%# <%= form_for @dummy_story, :url => {:action => 'save'}, :remote => true, :html => { :'data-type' => 'html', :id => 'tree-editor-form'} do |f| %>
    <%= form_for @dummy_story, \
      :url => save_user_story_path(@dummy_story), \
      :remote => true, \
      :html => { :'data-type' => 'html', :id => 'tree-editor-form'} \
    do |f| %>
  <%= f.hidden_field :id, :id => "story-editor-id" %>
  <div class="tree-editor-controls">
    <div class="tree-editor-controls-body">
      <div class="tree-editor-left">
        <label for="story-editor-actor">As a/an</label>
        <%= render "shared/tt_refined_list" \
          , :control_id => "story-editor-actor" \
          , :tab_index => "3400" \
          , :list_items => @all_actors %>
        
        <p class="label-field-pair">
            <%= f.label :want_to, "I want to" %>
            <%= f.text_area :want_to, :id => "story-editor-wantto", :tabindex => 3401 %>
        </p>
        <p class="label-field-pair">
            <%= f.label :so_i_can, "so I can" %>
            <%= f.text_area :so_i_can, :id => "story-editor-soican", :tabindex => 3402 %>
        </p>
      </div>
      <div class="tree-editor-right">
        this is where the right side should go
      </div>
    </div>

    <div class="tree-editor-controls">
      <a href="javascript:TTeditorDelete();" class="btn-delete" onclick="if (!confirm('Are you sure you want to delete this story?')) return false;" tabindex="3482">Delete</a>
      <a href="javascript:TTeditorCancel();" class="btn-cancel" tabindex="3481">Cancel</a>
      <a href="javascript:TTeditorClose();" class="btn-save" tabindex="3480">Close</a>
      <a href="javascript:TTeditorDetails()" class="btn-details" tabindex="3483">Details</a>
    </div>
  </div>
  <% end %>
</div>

