<% @page_title = "User Stories" %>
<%= javascript_include_tag("TT_tree")%>
<%= javascript_include_tag("TT_sliderChest")%>
<%= javascript_include_tag("user_stories")%>

<section>
    <section class="main-body-parts-container main-body-section TTsliderCompanion full">
        <h1>Work Breakdown</h1>
        <div id="userStoryTree" class="tree">
          <!-- <p id="TTtreeDebugMessage"></p> -->

          <%= render "shared/tt_tree_branch", :nodes => @root_user_stories %>
        </div>
    </section>
    <aside id="sliderChest">
    <%= render "shared/tt_slider_chest"  %>
    </aside>
</section>
<asside style="display:none" id="hidden-closet">
  <%= render "editor_intree"  %>
</asside>
  
